@import url('https://fonts.googleapis.com/css2?family=Exo+2&display=swap');

.app {
  height: 100vh;
  display: grid;
  gap: 2px;
  grid-template-areas: 
  "e h h h a"
  "e n n n a"
  "e m m m a"
  "e m m m a"
  "e m m m a"
  "e f f f a"
  ;
}

header {
  padding: 10px;
  /* height: max-content; */
  text-align: center;
  background-color: #f00000;
  grid-area: h;
  display: grid;
  align-items: center;
  justify-content: center;
}

nav {
  padding: 15px 0 8px 0;
  background-color: #222224;
  grid-area: n;
  /* height: min-content; */
  display: grid;
  align-items: center;
}

input {
  /* height: 30px; */
  display: block;
  margin: 0 auto;
}

input[type="text"] {
  font-family: "Exo 2";
  font-size: 1.2rem;
  text-align: center;
}

button {
  height: 2rem;
  display: block;
  margin: 7px auto;
}

main {
  background-color: white;
  grid-area: m;
}

h2 {
  margin: 0;
  /* padding-top: 30px; */
  font-size: 3rem;
}

footer {
  background-color: #222224;
  color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: f;
}

.logo {
  height: 150px;
}

.psyduck-button {
  height: 100%;
}

.pokemon {
  text-align: center;
}

.sprite {
  height: 100px;
}

.img-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.poke-gif {
  height: 300px;
  padding-bottom: 0px;
}


@media (min-width: 1000px) {
  .app {
    display: grid;
    min-height: 100vh;
    gap: 5px;
    grid-template-areas: 
    "s s h h h h a a"
    "s s n m m m a a"
    "s s n m m m a a"
    "s s f f f f a a"
    ;
  }

  header {
    grid-area: h;
  }

  nav {
    grid-area: n;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  main {
    grid-area: m;
  }

  footer {
    grid-area: f;
  }
}