@import url('https://fonts.googleapis.com/css2?family=Exo+2&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: "Exo 2";
  background-color: #f0f0f0;
}
